html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
}
img {
    border: none;
    float: left;
}
#right-side li {
    margin: 0px;
    white-space: pre-line;
}
#right-side ol, #right-side ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a {
    color: #666622;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.caret-right {
  border-left: 4px solid #000;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.left {
    position: absolute;
    left: 0px;
    text-align: left;
}
.right {
    position: absolute;
    right: 0px;
    text-align: right;
}
#wrapper {
    padding-left: 0;
    padding-right: 0; 
    top: 0;
}
#main {
    bottom: 10px;
    left: 20px;
    margin-right: 400px;
    min-width: 200px;
    overflow-y: auto;
    position: absolute;
    right: 20px;
    top: 10px;
}
#search-results {
    list-style: none;
}
#search-site-dropdown {
    display: inline-block;
    vertical-align: middle;
}
/*#side-content a, #footer a, #video a {
    color: #775739;
    font-weight: bold;
}*/
#side-content {
    color: #2E2E2E;
    padding-left: 20px;
    padding-right: 20px;
}
.player-row {
    height: 30px;
    line-height: 30px;
}
.player-row-mini {
    height: 20px;
    line-height: 20px;
}
#track-count-wrapper {
    float: left;
    margin-right: 1em;
}
#playlist-duration-wrapper {
    float: left;
}
#playlist-view {
    bottom: 40px;
    overflow: auto;
    position: absolute;
    right: 20px;
    top: 273px;
    width:360px;
}
/*.search-link {
    border: solid #888 1px;
    float: left;
    display: block;
    height: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    width: 199px;
}
.search-button-container  {
    float: left;
    display: block;
}
.search-button-container img {
    margin-top: 5px;
    vertical-align: middle;
    z-index: 14;
}
.search-button {
    margin-left: -133px;
    margin-right: 0;
    padding-right: 0;
    z-index: 15;
}
.search-button:active {
    color: #99795b;
}*/
#controls {
    float: left;
    z-index: 12;
}
/*#controls a {
    background-image: url("../img/controls.png");
    float: left;
    display: block;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    padding-left: 0;
    padding-right: 0;
    width: 40px;
}*/
#controls a.btn {
    padding: 0 7px 0 7px;
    top: 5px;
}
#right-side {
    width: 400px;
}
#timebar-row {
    width: 360px;
}
#timebar {
    cursor: pointer;
    float: left;
    z-index: 11;
}
#time-elapsed {
    float: right;
}
#timebar-outer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: solid #aaa 1px;
    float: left;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
    width: 308px;
}
#timebar-inner {
    -webkit-border-top-right-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    -moz-border-radius-topright: 1px;
    -moz-border-radius-bottomright: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background-color: #3d3;
    height: 18px;
    min-width: 0;
    width: 0;
}
#volume {
    cursor: pointer;
    float: left;
    margin-left: 13px;
}
#volume-outer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid #aaa 1px;
    -khtml-user-select: none;
    -moz-user-select: none;
    background-color: #fff;
    float: left;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
    user-select: none;
    width: 48px;
}
#volume-inner {
    background-color: #d33;
    bottom: 0;
    width: 50%;
    min-width: 0;
    height: 20px;
}
#volume-amount {
    float: left;
    margin-left: 9px;
    vertical-align: middle;
}
#volume-amount i {
    cursor: pointer;
    margin-top: -4px;
    vertical-align: middle;
}
#volume-number {
    margin-left: 6px;
}
#video-container, #video {
    height: 203px;
    width: 360px;
    z-index: 15
}
#video-container {
    margin: 10px 0 0 20px;
    position: absolute;
    right: 20px;
}
#playlist-controls {
    top: 213px;
    position: absolute;
    right: 20px;
}
#search-results {
    margin: 0;
}
.search-actions {
    float: left;
    left: 0;
    position: absolute;
    width: 36px;
}
.search-action {
    float: left;
    left: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 18px;
}
.search-action.add {
    top: 1px;
}
.search-action.play {
    left: 18px;
}
.search-action.play .caret {
    border-left: 5px solid #662;
    border-right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    opacity: 1;
    filter: alpha(opacity=100);
    vertical-align: middle;
}
.search-action.play .caret:hover {
    border-left: 5px solid #005580;
    text-decoration: underline;
}
#search-results a {
    font-size: 18px;
}
#search-results .desc {
    line-height: 24px;
    padding-left: 42px;
    vertical-align: middle;
}
#search-results li, #tracks li .playlist-item {
    min-height: 24px;
}
#tracks li .desc {
    padding-bottom: 0.25em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-left: 52px;
    vertical-align: middle;

}
#tracks li .left {
    float: left;
    width: 48px;
    text-align: center;
    vertical-align: middle;
    z-index: 9;
}
#tracks li {
    cursor: move;
    padding: 1px;
}
#tracks li:hover {
    background-color: #cfc;
}
#search-results a, #tracks a {
    font-weight: bold;
    padding-right: 0;
}
#tracks .desc a {
    padding-right: 0.5em;
}
#tracks .right a {
    padding-left: 1em;
}
#tracks li .remove {
    float: left;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    width: 22px;
}
#tracks li .link {
    float: left;
    height: 16px;
    margin: 4px auto 0 0;
    text-align: center;
    width: 26px;
}
#tracks li .link img {
    margin-left: 5px;
}
#tracks li.playing {
    border: solid #111 1px;
    background-color: #333;
    color: #ddd;
    min-height: 24px;
    padding: 0;
}
#tracks li.playing a {
    color: #eeeecc;
    text-decoration: none;
}
#tracks li.playing a:hover {text-decoration: underline; }
#track-information {
    bottom: 40px;
    position: absolute;
    right: 20px;
    width: 360px;
}
#footer {
    bottom: 0;
    position: absolute;
}
span.slogan {
    font-style: italic;
    z-index: inherit; 
}
.modal ol, ul {
    margin: 6px 0 6px 26px;
}
.modal ol {
    list-style-type: decimal;
}
.modal ul {
    list-style-type: circle;
}