/*
Milan Week http://kuler.adobe.com/#themeID/1875670
*/
html {
    overflow-x: hidden;
}
body {
}
img {
    border: none;
    float: left;
}
.align-bottom {
	vertical-align: bottom;
}
.left-column {
	float: left;
}
.right-column {
	float: right;
}
.nav-hover {
	background-color: #EEE;
}
#header {
	top: 0;
}
#footer {
	bottom: 0;
}
#header, #footer {
	color: #FFF;
	background-color: #414349;
	background-image: linear-gradient(bottom, rgb(0,0,0, 0.1) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(255,255,255, 0.1) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(255,255,255, 0.1) 100%);
	display: block;
	height: 38px;
	width: 100%;
	position: fixed;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	z-index: 6;
}
#header-container, #footer-container {
	height: 28px;
	margin-top: 4px;
}
#header-container .row, #footer-container .row {
	height: 28px;
	line-height: 28px;
}
#search-form {
}
#search-query {
	width: 159px;
}
#site-selector {
	width: 152px;
}
#search-results, #tracks {
}
#search-results tr {
	cursor: pointer;
}
a, a:hover {
	text-decoration: none;
}
a {
	color: #877963;
}
#header a {
	color: #F2F1E9;
    
}
#header a:hover, #footer a:hover {
	color: #DEDCC3;
}
.caret-right {
  border-left: 4px solid #000;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.left {
    position: absolute;
    left: 0px;
    text-align: left;
}
.right {
    position: absolute;
    right: 0px;
    text-align: right;
}
[class*=span].no-margin {
	margin-left: 0;
}
#wrapper {
	bottom: 38px;
	left: 0;
    position: fixed;
    right: 0;
    top: 38px;
}
#tabs {
	height: 100%;
}
#tab-list {
	height: 100%;
	margin-top: 0;
	margin-right: 0;
	width: 380px;
}
#tab-list > li > a {
	text-align: right;
}
#tab-content {
	height: 100%;
	margin-bottom: 38px;
}
#main {
	height: 100%;
	left: 0;
	position: relative;
    /*bottom: 0;
    left: 10px;
    margin-right: 400px;
    min-width: 400px;
    overflow-y: auto;
    position: absolute;
    right: 20px;
    top: 0px;*/
}
#search-site-dropdown {
    display: inline-block;
    vertical-align: middle;
}
.player-row {
    height: 30px;
    line-height: 30px;
}
.player-row-mini {
    height: 20px;
    line-height: 20px;
}
#track-count-wrapper {
    float: left;
    margin-right: 1em;
}
#playlist-duration-wrapper {
    float: left;
}
#playlist-view {
    bottom: 0;
    overflow-y: scroll;
    position: fixed;
    top: 327px;
    width: 380px;
}
#controls {
    z-index: 12;
}
#controls a.btn {
    padding: 0 6px 0 6px;
    top: 5px;
}
#right-side {
	height: 100%;
	margin-left: 560px;
    position: absolute;
    /*width: 400px;*/
}
#timebar-row {
	margin-left: 80px;
	width: 558px;
}
#time-elapsed {
    float: right;
    text-align: center;
    width: 50px;
}
#timebar-outer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    float: left;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
    width: 506px;
}
#timebar-inner {
    -webkit-border-top-right-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    -moz-border-radius-topright: 1px;
    -moz-border-radius-bottomright: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background-color: #3d3;
    height: 18px;
    min-width: 0;
    width: 0;
}
#volume {
    cursor: pointer;
}
#volume-outer, #timebar-outer {
	border: solid 1px #CCC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#volume-outer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -khtml-user-select: none;
    -moz-user-select: none;
    background-color: #fff;
    float: left;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
    user-select: none;
    width: 48px;
}
#volume-inner {
    background-color: #d33;
    bottom: 0;
    width: 50%;
    min-width: 0;
    height: 20px;
}
#volume-amount {
    float: left;
    margin-left: 9px;
    vertical-align: middle;
}
#volume-amount i {
    cursor: pointer;
    margin-top: -4px;
    vertical-align: middle;
}
#volume-number {
    margin-left: 6px;
}
#video-container, #video {
	height: 198px;
    position: absolute;
    width: 352px;
}
#video-container {
	border: 1px solid transparent;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 8px 14px;
	top: 76px;
}
#video {
}
#side-content {
	height: 100%;
	position: relative;
}
#playlist-controls {
    height: 60px;
}
#search-results-view {
	/*bottom: 0;
	overflow: auto;
	position: absolute;
	top: 0px;*/
}
.actions {
	display: none;
    width: 48px;
}
.action-cell {
	height: 22px;
	width: 48px;
}
.action-header {
	width: 48px;
}
.number-cell {
	width: 51px;
}
.uploader-cell {
	width: 160px;
}
.title-cell {
	width: 260px;
}
#playlist-view .actions {
	width: 22px;
}
tr:hover .actions {
	display: block;
}
.actions .action {
	margin-left: 4px;
}
.actions .action:first-child {
	margin-left: 0;
}
li .content {
	//background: #072A30;
	//color: #fff;
	/*border-bottom: 1px solid #414349;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5), inset 0 0 0 rgba(255,255,255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5), inset 0 0 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5), inset 0 0 0 rgba(0, 0, 0, 0.3);
	border: 1px solid #333;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5), inset 0 1px 5px rgba(255,255,255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #fff;*/
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
	border: 1px solid transparent;
	height: 36px;
	line-height: 18px;
	padding: 4px 4px 4px 0;
}
li:first-child .content {
	/*-moz-box-shadow: inset 0 0 0 rgba(255,255,255, 0.5);
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);*/
}
li:last-child .content {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
li .content {
	//background: #6D0C28;
	//color: #eebfee;
}
li:hover .content {
	border-color: #414349;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255, 0.5);
	color: #6E9489;
}
#tracks .playing td {
	background: #3D3;
}
#tracks li .name {
	float: left;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#tracks li .dur-box {
	float: right;
}
#tracks li .artist {
	clear: left;
}
#tracks li .left {
    float: left;
    left: 20px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}
#tracks li {
    cursor: move;
}
#tracks li:hover .artist {
	clear: none;
}
.action {
	webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	float: left;
	height: 18px;
	margin: 0 0 0 14px;
	padding: 2px 3px 0 3px;
	vertical-align: top;
}
#track-information {
	bottom: 0;
	left: 0;
	line-height: 28px;
	position: absolute;
}
#track-information .right-column {
	padding-right: 12px;
}
span.slogan {
    font-style: italic;
    z-index: inherit; 
}
.modal ol, .modal ul {
    margin: 6px 0 6px 26px;
}
.modal ol {
    list-style-type: decimal;
}
.modal ul {
    list-style-type: circle;
}