html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
}
img {
    border: none;
    float: left;
}
#right-side li {
    margin: 0px;
    white-space: pre-line;
}
#right-side ol, #right-side ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a {
    color: #666622;
    text-decoration: none;
}
.caret-right {
  border-left: 4px solid #000;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.left {
    position: absolute;
    left: 0px;
    text-align: left;
}
.right {
    position: absolute;
    right: 0px;
    text-align: right;
}
#wrapper {
    padding-left: 0;
    padding-right: 0; 
    top: 0;
}
#main {
    bottom: 10px;
    left: 20px;
    margin-right: 400px;
    min-width: 400px;
    overflow-y: auto;
    position: absolute;
    right: 20px;
    top: 10px;
}
#search-results {
    list-style: none;
}
#search-site-dropdown {
    display: inline-block;
    vertical-align: middle;
}
/*#side-content a, #footer a, #video a {
    color: #775739;
    font-weight: bold;
}*/
#side-content {
    color: #2E2E2E;
}
.player-row {
    height: 30px;
    line-height: 30px;
}
.player-row-mini {
    height: 20px;
    line-height: 20px;
}
#track-count-wrapper {
    float: left;
    margin-right: 1em;
}
#playlist-duration-wrapper {
    float: left;
}
#playlist-view {
    bottom: 40px;
    overflow-y: scroll;
    position: absolute;
    right: 20px;
    top: 273px;
    width:400px;
}
/*.search-link {
    border: solid #888 1px;
    float: left;
    display: block;
    height: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    width: 199px;
}
.search-button-container  {
    float: left;
    display: block;
}
.search-button-container img {
    margin-top: 5px;
    vertical-align: middle;
    z-index: 14;
}
.search-button {
    margin-left: -133px;
    margin-right: 0;
    padding-right: 0;
    z-index: 15;
}
.search-button:active {
    color: #99795b;
}*/
#controls {
    float: left;
    z-index: 12;
}
/*#controls a {
    background-image: url("../img/controls.png");
    float: left;
    display: block;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    padding-left: 0;
    padding-right: 0;
    width: 40px;
}*/
#controls a.btn {
    padding: 0 7px 0 7px;
    top: 5px;
}
#right-side {
    width: 400px;
}
#timebar-row {
    width: 360px;
}
#timebar {
    cursor: pointer;
    float: left;
    z-index: 11;
}
#time-elapsed {
    float: right;
}
#timebar-outer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: solid #aaa 1px;
    float: left;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
    width: 308px;
}
#timebar-inner {
    -webkit-border-top-right-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    -moz-border-radius-topright: 1px;
    -moz-border-radius-bottomright: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background-color: #3d3;
    height: 18px;
    min-width: 0;
    width: 0;
}
#volume {
    cursor: pointer;
    float: left;
    margin-left: 13px;
}
#volume-outer {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid #aaa 1px;
    -khtml-user-select: none;
    -moz-user-select: none;
    background-color: #fff;
    float: left;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
    user-select: none;
    width: 48px;
}
#volume-inner {
    background-color: #d33;
    bottom: 0;
    width: 50%;
    min-width: 0;
    height: 20px;
}
#volume-amount {
    float: left;
    margin-left: 9px;
    vertical-align: middle;
}
#volume-amount i {
    cursor: pointer;
    margin-top: -4px;
    vertical-align: middle;
}
#volume-number {
    margin-left: 6px;
}
#video-container, #video {
    height: 203px;
    width: 360px;
    z-index: 15
}
#video-container {
    margin: 10px 0 0 20px;
    position: absolute;
    right: 20px;
}
#playlist-controls {
    top: 213px;
    position: absolute;
    right: 20px;
}
#search-results-view {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 38px;
}
#search-results {
    margin: 0;
}
.search-actions {
    float: left;
    left: 0;
    position: absolute;
    width: 40px;
}
.thin-button {
	background: #CACACA;
	border-radius: 4px;
    float: left;
    height: 16px;
    left: 0;
    line-height: 16px;
    margin-left: 4px;
    position: absolute;
    text-align: center;
    top: 4px;
    vertical-align: middle;
    width: 16px;
}
.thin-button:first-child {
	margin-left: 0;
}
.search-actions .thin-button.play {
    left: 16px;
    line-height: 12px;
}
.search-actions .thin-button.play .caret {
    border-left: 5px solid #662;
    border-right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    line-height: 16px;
    opacity: 1;
    filter: alpha(opacity=100);
    vertical-align: middle;
}
.search-actions .thin-button.play .caret:hover {
    border-left: 5px solid #005580;
    text-decoration: underline;
}
#search-results a {
    font-size: 18px;
}
#search-results li {
    cursor: pointer;
}
#search-results li, #tracks li .desc {
    height: 36px;
}
#search-results .desc {
    line-height: 24px;
    padding-left: 40px;
    vertical-align: middle;
}
#tracks li .content {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 4px 4px 0 40px;
}
#tracks li:first-child .content {
	margin-top: 0;
}
#tracks li .desc {
    padding: 2px 2px 2px 0;
    padding-left: 52px;
    vertical-align: middle;

}
#tracks li .left {
    float: left;
    left: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}
#tracks li {
    cursor: move;
}
#tracks li:hover .close {
	display: block;
}
#search-results li:hover, #tracks li:hover .content {
    background-color: #cfc;
}
#search-results a, #tracks a {
    font-weight: bold;
    padding-right: 0;
}
#tracks .close {
-	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 2px solid black;
	border-radius: 10px;
	display: none;
	float: left;
	font-size: 18px;
	height: 17px;
	margin: 10px 0 0 10px;
	text-align: center;
	vertical-align: middle;
	width: 17px;
}
#tracks .desc a {
    padding-right: 0.5em;
}
#tracks .right a {
    padding-left: 1em;
}
#tracks li .link {
    left: 20px;
}
#tracks li.playing .content {
    background-color: #333;
    color: #ddd;
    min-height: 24px;
}
#tracks li.playing .content a {
    color: #eeeecc;
    text-decoration: none;
}
#track-information {
    bottom: 40px;
    position: absolute;
    right: 20px;
    width: 360px;
}
#footer {
    bottom: 0;
    position: absolute;
}
span.slogan {
    font-style: italic;
    z-index: inherit; 
}
.modal ol, ul {
    margin: 6px 0 6px 26px;
}
.modal ol {
    list-style-type: decimal;
}
.modal ul {
    list-style-type: circle;
}